<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Count Those Calories!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/vendor/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div id='search' class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <form onsubmit='return false'>
                        <div class='form-group'>
                            <label for='searchField'>Search for food:</label>
                            <input type='text' class='form-control' id='searchField' placeholder='Search for any food!'>
                        </div>
                        <button class='btn btn-sm btn-primary' id='searchButton' type='submit'>Search!</button>
                    </form>
                    <ul id='search-food-list'></ul>
                </div>

                <hr class='col-xs-12 col-sm-12 hidden-md hidden-lg'>

                <div id='meal' class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <h1>Meal!</h1>
                    <ul id='meal-food-list'></ul>
                    <h3 id='total'>Total Calories: <span>0</span></h3>
                </div>
            </div>
        </div>


        <script type="text/template" id="food-search-template">
            <button class='btn btn-xs btn-info' id='add'>Add to meal!</button>
            <span><%= brand_name %> - <%= item_name %> --- calories: <%= nf_calories %></span>
        </script>

        <script type="text/template" id="meal-item-template">
            <button class='btn btn-xs btn-warning' id='remove'>Remove</button>
            <span><%= brand_name %> - <%= item_name %> --- calories: <%= nf_calories %></span>
        </script>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/backbone/backbone-min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
